/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

#calculator-container {
    background: darkgray;
    width: max-content;
    margin: auto;
}

#display {
    width: 100%;
    background-color: lightgray;
    height: 50px;
    font-size: 48px;
    display: flex;
    justify-content: flex-end;
}
  
#buttons-container {
    max-width: 400px;
    display:flex;
    flex-wrap: wrap;
}

button{
    flex: 1 25%;
    padding: 15px;
    font-size: 26px;
  } 
  
  .btn-number {
    background-color:grey;
  }
  
  .btn-operator {
    background-color:orange;
  }
  
  .btn-equals {
    background-color:green;
  }
  
  .btn-clear {
     background-color:crimson;
  }

  .btn-number.dot, .btn-number.zero {
    flex-basis: 12.5%;
}